<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RESTAURANT ORDERS</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../public/style.css">

</head>

<body>

  <div class="container">
    <h1> Restaurante <br>Italian Pasta
      <span class="material-icons">
        dinner_dining
      </span>
    </h1>
    <div class="btn">
      <form action="/cardapio" method="POST">
        <button type="submit" class="btn-redirect">Cardápio</button>
      </form>
      <form action="/pedidos" method="POST">
        <button type="submit" class="btn-redirect">Pedidos</button>
      </form>
    </div>
  </div>



</body>

</html>