@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  color: white;
  background-color: #131315;
}

h1 {
  font-family: "Parisienne", cursive;
  color: #e1b13b;
  font-size: 5rem;
  text-align: center;
  margin-top: 1rem;
}

h2{
  font-family: "Raleway", sans-serif;
  font-weight: unset;
  font-size: 2rem;
  color: #e1b13b;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.hero {
  height: 15vh;
  width: 100vw;
  background-image: url("images/fundo.jpg");
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}

.btn-menu, .btn-pagina{
    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 3rem;
}

.btn-menu{
  color: white;
}

.btn-pagina{
  color: #e1b13b;
}

.container-pedidos{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.orders-mesa{
    font-size: 1.5rem;
    color: #e1b13b;
    list-style-type: none;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.orders-lista{
    font-size: 1.35rem;
    list-style-type: none;
    margin-top: 0.35rem; 
    margin-bottom: 0.35rem;
}

.orders-qtd{
    font-size: 1.35rem;
    list-style-type: none;
    margin-top: 0.35rem; 
    margin-bottom: 1rem;
}

.orders-total{
    font-size: 1.5rem;
    color: #3b88e1;
    list-style-type: none;
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-right: 0.5rem;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}